In [ ]:
import pandas as pd

df = pd.read_csv("data/time_confirmed.csv")
# .drop()을 이용해 일부 컬럼을 삭제할 수 있음
df = (
    df.drop(["Province/State", "Country/Region", "Lat", "Long"], axis=1)
    .sum()
    .reset_index(name="total")
)
df = df.rename(columns={"index": "date"})
df

         date      total
0     1/22/20        557
1     1/23/20        657
2     1/24/20        944
3     1/25/20       1437
4     1/26/20       2120
...       ...        ...
1138   3/5/23  676024901
1139   3/6/23  676082941
1140   3/7/23  676213378
1141   3/8/23  676392824
1142   3/9/23  676570149

[1143 rows x 2 columns]