In [20]:
import pandas as pd

daily_df=pd.read_csv("data/daily_report.csv")
# 일부 컬럼만 선택하기 위해서는 '[[]]'를 사용
# .sum()을 이용하여 컬럼의 합계를 구할 수 있음
print(type(daily_df))
print(daily_df)

daily_df=daily_df[["Confirmed","Deaths","Recovered"]].sum()
print(type(daily_df))
print(daily_df)

<class 'pandas.core.frame.DataFrame'>
      FIPS Admin2    Province_State  Country_Region          Last_Update  \
0      NaN    NaN               NaN     Afghanistan  2020-08-13 04:29:15
1      NaN    NaN               NaN         Albania  2020-08-13 04:29:15
2      NaN    NaN               NaN         Algeria  2020-08-13 04:29:15
3      NaN    NaN               NaN         Andorra  2020-08-13 04:29:15
4      NaN    NaN               NaN          Angola  2020-08-13 04:29:15
...    ...    ...               ...             ...                  ...
3974   NaN    NaN           Unknown         Ukraine  2020-08-13 04:29:15
3975   NaN    NaN               NaN           Nauru  2020-08-13 04:29:15
3976   NaN    NaN              Niue     New Zealand  2020-08-13 04:29:15
3977   NaN    NaN               NaN          Tuvalu  2020-08-13 04:29:15
3978   NaN    NaN  Pitcairn Islands  United Kingdom  2020-08-13 04:29:15

           Lat       Long_  Confirmed  Deaths  Recovered  Active  \
0     33.93911   67.709953      37431    1358      26694    9379
1     41.15330   20.168300       6817     208       3552    3057
2     28.03390    1.659600      36699    1333      25627    9739
3     42.50630    1.521800        977      53        855      69
4    -11.20270   17.873900       1762      80        577    1105
...        ...         ...        ...     ...        ...     ...
3974       NaN         NaN          0       0          0       0
3975  -0.52280  166.931500          0       0          0       0
3976 -19.05440 -169.867200          0       0          0       0
3977  -7.10950  177.649300          0       0          0       0
3978 -24.37680 -128.324200          0       0          0       0

                          Combined_Key  Incidence_Rate  Case-Fatality_Ratio
0                          Afghanistan       96.153597             3.628009
1                              Albania      236.882341             3.051196
2                              Algeria       83.690142             3.632252
3                              Andorra     1264.479389             5.424770
4                               Angola        5.361120             4.540295
...                                ...             ...                  ...
3974                  Unknown, Ukraine        0.000000             0.000000
3975                             Nauru        0.000000             0.000000
3976                 Niue, New Zealand        0.000000             0.000000
3977                            Tuvalu        0.000000             0.000000
3978  Pitcairn Islands, United Kingdom        0.000000             0.000000

[3979 rows x 14 columns]
<class 'pandas.core.series.Series'>
Confirmed    20686122
Deaths         802648
Recovered    12828273
dtype: int64

In [22]:
# reset_index()를 이용하여 Dataframe으로 다시 변경해줄 수 있음
daily_df = daily_df.reset_index(name="count")

In [23]:
print(type(daily_df))

<class 'pandas.core.frame.DataFrame'>

In [24]:
daily_df

       index     count
0  Confirmed  20686122
1     Deaths    802648
2  Recovered  12828273

In [25]:
# print()를 사용한면 타입은 그대로이나 보여지기로는 Series처럼 보여짐
print(daily_df.reset_index())

   level_0      index     count
0        0  Confirmed  20686122
1        1     Deaths    802648
2        2  Recovered  12828273

In [26]:
type(daily_df)

pandas.core.frame.DataFrame

In [27]:
daily_df

       index     count
0  Confirmed  20686122
1     Deaths    802648
2  Recovered  12828273

In [28]:
daily_df = daily_df.rename(columns={"index": "condition"})

In [29]:
daily_df

   condition     count
0  Confirmed  20686122
1     Deaths    802648
2  Recovered  12828273